---
layout: page
---
<div class="post">
  <article>
    {% if site.data.reports %}
      {% for report in site.data.reports %}
        {% assign data = report[1] %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <hr>
        <div class="profile float-{% if thecycle == 'even' %}left{% else %}right{% endif %}">
          {% if data.image %}
            {% assign image_path = data.image | prepend: 'assets/img/publication_preview/' %}
            {% assign image_class = 'img-fluid z-depth-1 rounded' %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=image_path class=image_class sizes=sizes alt=profile.image %}
          {% endif %}
            <div class="more-info">
                <div style="text-align: center;">
                <a href="{{ data.pdf_url }}" class="btn btn-outline-primary btn-sm" target="_blank">
                  <i class="fas fa-download"></i> Download PDF
                </a>
                </div>
            </div>
        </div>

        <div class="clearfix">
          <h3>{{ data.title }}</h3>
          {% if data.subtitle %}
            <h5>{{ data.subtitle }}</h5>
          {% endif %}
          <div style="text-align: justify;">
            {{ data.summary | markdownify }}
          </div>
          <div>
              <strong>Prepared for:</strong> {{ data.prepared_for }}
          </div>
          <div>
            <strong>Date:</strong> {{ data.date }}
          </div>
          {% if data.blog_url %}
            <div><strong>More info: </strong><a href="{{ data.blog_url }}">blog post</a></div>
          {% endif %}
          
          {% comment %} {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %} {% endcomment %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
